﻿@model Model.EF.Product

@{ Layout = "~/Views/Shared/_Layout.cshtml";
                var category = (Model.EF.ProductCategory)ViewBag.Category;
                var relatedProducts = (List<Model.EF.Product>)ViewBag.RelatedProducts; }

@section Scripts {
    <script src="/Assets/Client/js/imagezoom.js"></script>
    <!-- //imagezoom -->
    <!-- flexslider -->
    <link rel="stylesheet" href="/Assets/Client/css/flexslider.css" type="text/css" media="screen" />

    <script src="/Assets/Client/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
}

<div id="breadCumb" class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="/">Home</a>
                    <i>|</i>
                </li>
                <li>@Model.MetaTitle</li>
            </ul>
        </div>
    </div>
</div>

<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">

        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ingle
            <span>P</span>age
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="@Model.Image">
                                <div class="thumb-image">
                                    <img src="@Model.Image" data-imagezoom="true" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li data-thumb="@Model.Image">
                                <div class="thumb-image">
                                    <img src="@Model.Image" data-imagezoom="true" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li data-thumb="@Model.Image">
                                <div class="thumb-image">
                                    <img src="@Model.Image" data-imagezoom="true" class="img-fluid" alt="">
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <h3 class="mb-3">@Model.MetaDescriptions</h3>
                <p class="mb-3">
                    @{ var price = "";
                                    var promotionPrice = "";
                                    if (Model.Price.HasValue)
                                    {
                                        price = Model.Price.Value.ToString("N0") + "Vnđ";
                                    }
                                    if (Model.PromotionPrice.HasValue)
                                    {
                                        promotionPrice = Model.PromotionPrice.Value.ToString("N0") + "Vnđ";
                                    } }
                    <span class="item_price">@promotionPrice</span>
                    <del class="mx-2 font-weight-light">@price</del>
                    <label>Free delivery</label>
                </p>
                <div class="product-single-w3l">
                    @Model.Detail
                    <p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
                    </p>
                </div>
                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="Samsung Galaxy J7 Prime" />
                                <input type="hidden" name="amount" value="200.00" />
                                <input type="hidden" name="discount_amount" value="1.00" />
                                <input type="hidden" name="currency_code" value="USD" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Add to cart" class="button" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

